@import '@taiga-ui/styles/utils.less';

[tuiTh],
[tuiTd] {
  border-inline-start: none;
  border-inline-end: none;
}

[tuiTable][data-size='s'] [tuiTitle] {
  flex-direction: row;
  gap: 0.375rem;
}

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  width: 100%;
  max-width: 60rem;
  padding: 80px 15px 0;

  @media @tui-tablet-min {
    padding-top: 0;
  }
}

.button-add {
  width: fit-content;
  margin-left: auto;
}

.product-card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__label {
  color: rgba(255,255,255,0.7);
}

.product-card__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  @media @tui-desktop-min {
    gap: 30px;
  }
}